<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APP CHAT</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="layout.css">
    <script src="xuly.js"></script>
</head>
<body>
    <div id="wrapper">


        <div id="loginForm">
            <h3>WHAT'S YOUR NAME?</h3>
            <input type="text" id="txtUsername">
            <input type="button" value="Register" id="btnRegister">
        </div>
        <div id="chatForm">
            <div id="left">
                <div id="boxTitle">User Online</div>
                <div id="boxContent"></div>
            </div>
            <div id="right">
                <div id="sayHi">Hello <span id="currentUser">Tuan</span>
                    <input type="button" id="btnLogout" value="Logout">
                </div>
                <div id="listMessages">
                
                </div>
                <div id="thongbao"></div>
                <input type="text" id="txtMessages">
                <input type="button" id="btnSendMessages" value="Send">
            </div>
        </div>
    </div>
</body>
</html>