body{
    background-color: white;
}
#wrapper{
    widows: 680px;
    margin: auto;
}
#txtUsername{
    background-color: transparent;
}
#left{
    width: 30%;
    float: left;
}
#right{
    width: 70%;
    float: right;

}
#left, #right{
    min-height: 300px;
    padding: 10px;
}
#boxTitle{
    text-align: center;
    padding: 5px;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 5px 5px 0 0;
}
#boxContent{
    border-radius:0 0 5px 5px;
    border: solid 1px black;
    border-top: none;
    padding: 5px;
    text-align: center;
}
#sayHi{
    text-align: right;
    padding: 5px;
    margin-bottom: 5px;
    border: solid 1px black;
    border-radius: 5px;
}
#listMessages{
    height: 350px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
#txtMessages{
    background-color: transparent;
    border: solid 1px black;
}
.tb{
    font-weight: bold;
}